{% extends 'default.html' %}
{% block title %}
   Marvel 영화 어벤져스:엔드게임 소개 
{% endblock %}

{% block contents %}
<h1 align="center"> 어벤져스 : 엔드게임</h1>
<body bgcolor="#D9E5FF">
    <p><img src="../static/image/22.jpg" width="500" height="500" class="card-img-top" align="left" hspace="50" vspace="50">
        <br>
        <br>
        <br>
        감독 : 안소니 루소 , 조 루소 <br><br>
        장르 : 액션, SF <br><br>
        기본 : 12세 이상 <br><br>
        상영 시간: 181분<br><br>
        출연: 로버트 다우니 주니어(토니 스타크 / 아이언맨), 크리스 에반스(스티브 로저스 / 캡틴 아메리카) / 크리스 헴스워스(토르) / 마크 러팔러(브루스 배너 / 헐크)<br> 
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp스칼렛 요한슨(나타샤 로마노프 / 블랙 위도우), 제레미 레너(클린트 바튼 / 호크아이), 폴 러드(스캇 랭 / 앤트맨), 돈 치들(제임스 로드 / 워 머신)<br> 
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp브리 라슨(캐럴 댄버스 / 캡틴 마블), 카렌 길런(네뷸라), 브래들리 쿠퍼(로켓 목소리), 조슈 브롤린(타노스), 베네딕트 컴버배치(닥터 스트레인지)<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp조 샐다나(가모라), 크리스 프랫(피터 퀼 / 스타로드), 채드윅 보스만(티 찰라 / 블랙 팬서), 톰 홀랜드(피터 파커 / 스파이더맨), 안소니 마키(샘 윌슨 / 팔콘)<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp기내스 팰트로(패퍼 포츠), 테사 톰슨(발키리), 세바스찬 스탠(버키 반즈 / 윈터 솔져), 다나이 구리라(오코예), 톰 히들스턴(로키), 엘리자베스 올슨(완다 막시모프 / 스칼렛 위치)<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp에반젤린 릴리(호프 반 다인 / 와스프), 틸다 스윈튼(에인션트 원), 헤일리 앳웰(페기 카터), 존 슬래터리(하워드 스타크), 데이브 바티스타(드랙스)<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp폼 클레멘티에프(맨티스), 레티티아 라이트(슈리), 테리 노터리(그루트), 베네딕 웡(웡), 존 파브로(해피 호건), 사무엘 L. 잭슨(닉 퓨리), 마이클 더글라스(행크 핌 박사)<br><br>
        <br>줄거리<br> 
        인피니티 워 이후 절반만 살아남은 지구 / 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다! 위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!
        </p>
{% endblock %}

