{% extends 'default.html' %}
{% block title %}
  사용자 리스트 
{% endblock %}

{% block contents %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">아이디</th>
      <th scope="col">이메일</th>
      <th scope="col">주소</th>
      <th scope="col">비밀번호</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr onclick="location.href='/content/{{user.userid}}'">
      <th scope="row"></th>
      <td>{{user['userid']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['address']}}</td>
      <td>{{user['password']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-warning" onclick="location.href='/insertform'">회원가입</button>
{% endblock %}